.topThree:first-child {
    color: white;
    border-radius: 50%;
    background-color: black;
}

.index {
    text-align: center;
    line-height: 17px;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 18px;
}

.count {
    float: right;
    margin-right: 10px;
}

#main {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    width: 800px;
    height: 300px;
}